{% extends "menus/base.html" %}

{% block body %}
    <div class="container">
        <h1 class="lato bold text-center">The menu tracker for Bowdoin students.</h1>
        <a class="about-header" href="/">{% include "menus/logo.html" %}</a>
        <h3 class="lato text-center">
            Finding the foods you love at the best college dining in the world shouldn't be hard. That's why Menuwatch exists: to make the dining experience of Bowdoin students easier and more fun. 
            <br/><br/>
            The idea is simple — sign in, find a food you love, and add it to your account. When Menuwatch sees that your food is coming up at Moulton or Thorne, we'll send you an alert.
            <br/><br/>
            Menuwatch was developed over the summer of 2013 by <a href="mailto:bjacobel@gmail.com">Brian Jacobel</a>. You can learn more about its development and process on the <a href="http://news.menuwat.ch">blog</a>, or view the source on <a href="https://github.com/bjacobel/menuwatch">GitHub</a>.
        </h3>
    </div>
{% endblock %}

{% block footer_scripts %}

{% endblock %}