{% extends "menus/base.html" %}

{% block body %}
    <div class="container lato">
        <h1 class="lato">Account Management</h1>
        <h2 class="lato">{{ profile.fullname }} <span class="narrow">({{ profile.email }})</span></h2>
        <div class-"container account-fields">
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">SETTINGS</h3>
                <h4 class="lato">
                    <div class="dropdown">
                        Email frequency: <a data-toggle="dropdown" data-target="#" href="/account">{{ profile.frequency_name }} <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1">Daily</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Tri-Weekly</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Weekly</a></li>
                        </ul>
                    </div>
                </h4>
                <h4 class="lato">
                    <div class="dropdown">
                        Locations: <a data-toggle="dropdown" data-target="#" href="/account">{{ profile.location_name }} <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1">Both</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Moulton Only</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Thorne Only</a></li>
                        </ul>
                    </div>
                </h4>
                <h4 class="lato">Password: <a href="/account/password">Change<i class="icon-caret-right"></i></a></h4>
                <h4 class="lato"><a class="del-account" href="/unsubscribe?{{ unsub_link }}">Delete account<i class="icon-caret-right"></i></a></h4>
            </div>
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">PRO</h3>
                {% if profile.pro %}
                    <h4 class="lato">Pro account enabled! Enjoy unlimited watches.</h4>
                {% else %}
                    <h4 class="lato">You're on a basic account, with {{ profile.used_watches }} of your 5 watches used. <a href="/upgrade">Upgrade now <i class="icon-caret-right"></i></a></h4>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">WATCHES</h3>
                <ul class="lato watch-list">
                    {% for watch in profile.my_watches %}
                        <li class="watch-row"><h4 class="lato">{{ watch.foodname }}</h4><h4 class="right api delete" data="{{ watch.food.pk }}"><i class="icon-remove"></i></h4></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
    {% include 'menus/api.html' %}
{% endblock %}