{% extends "menus/base.html" %}

{% block body %}
    <div class="container lato">
        <h1 class="lato">Account Management</h1>
        <h2 class="lato">{{ profile.fullname }} <span class="narrow">({{ profile.email }})</span></h2>
        <div class-"container account-fields">
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">SETTINGS</h3>
                <h4 class="lato">Email frequency:<i data-title="<h4>Email frequency</h4>" data-content="<h5><strong>Weekly:</strong> Get just one email every Sunday with all your alerts for that week.<br/><br/><strong>Every Few:</strong> Get emails on Sunday, Wednesday and Friday mornings with the next few days' alerts.<br/><br/><strong>Daily:</strong> Get emails every morning with your alerts for the day.</h5>" class="left-spacer icon-question-sign"></i></h4>
                <div class="btn-group setting-group" setting="frequency">
                    <button id="1" type="button" class="btn btn-default">Weekly</button>
                    <button id="3" type="button" class="btn btn-default">Every few days</button>
                    <button id="7" type="button" class="btn btn-default">Daily</button>
                </div>
                <h4 class="lato">Locations:<i data-title="<h4>Locations</h4>" data-content="<h5><strong>Both:</strong> Get alerts for foods at both dining halls.<br/><br/><strong>Moulton:</strong> Get alerts only for foods at Moulton Union.<br/><br/><strong>Thorne:</strong> Get alerts only for foods at Thorne.</h5>" class="left-spacer icon-question-sign"></i></h4>
                <div class="btn-group setting-group" setting="locations">
                    <button id="1" type="button" class="btn btn-default">Both</button>
                    <button id="2" type="button" class="btn btn-default">Moulton Only</button>
                    <button id="3" type="button" class="btn btn-default">Thorne Only</button>
                </div>
                <h4 class="lato">Password: <a href="/account/password">Change<i class="icon-caret-right"></i></a></h4>
                <h4 class="lato"><a class="del-account" href="#">Delete account<i class="icon-caret-right"></i></a></h4>
            </div>
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">PRO</h3>
                {% if profile.pro %}
                    <h4 class="lato">Pro account enabled! Enjoy unlimited watches.</h4>
                {% else %}
                    <h4 class="lato">You're on a basic account, with {{ profile.used_watches }} of your 5 watches used. <a href="/upgrade">Upgrade now <i class="icon-caret-right"></i></a></h4>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 account-field">
                <h3 class="account-field-header lato narrow">WATCHES</h3>
                <ul class="lato watch-list">
                    {% for watch in profile.my_watches %}
                        <li class="watch-row"><h4 class="lato">{{ watch.foodname }}</h4><h4 class="right api delete" data="{{ watch.food.pk }}"><i class="icon-remove"></i></h4></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account? This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='/unsubscribe?{{ unsub_link }}'">DELETE ACCOUNT</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block footer_scripts %}
    {% include 'menus/api.html' %}
    <script>
        // setup popovers
        $("h4 i.icon-question-sign").popover({"html":"true"});
        
        // setup modal
        $(".del-account").click(function(){
            $('#deleteModal').modal();
        });

        // setup display of active setting
        $(".setting-group").each(function(){
            if($(this).attr("setting") == "frequency") {
                currSetting = "{{ profile.frequency }}";
            } else if ($(this).attr("setting") == "locations") {
                currSetting = "{{ profile.locations }}";
            }
            $("button", $(this)).each(function(){
                if($(this).attr("id") == currSetting){
                    $(this).removeClass("btn-default");
                    $(this).addClass("btn-primary");
                }
            });
        });

        // this only needs to run on this page so I'm just going to leave it inline here
        // fuck best practices, we'll do it live
        $(".setting-group button").click(function() {
            $newChoice = $(this);
            $.ajax({
                data: {
                    "setting_name": $newChoice.parent().attr("setting"),
                    "setting_value": $newChoice.attr("id")
                },
                type: 'post',
                url: '/api/settings',
                success: function(response) {
                    $(".btn-primary", $newChoice.parent()).removeClass("btn-primary").addClass("btn-default"); //oh jquery, you lovable clusterfuck
                    $newChoice.addClass("btn-primary");
                },
                error: function(xhr, ajaxOptions, thrownError) {
                }
            });
        });
    </script>
{% endblock %}