{% load staticfiles %}
{% load compress %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menuwatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, nofollow">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"><![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menuwatch.css?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    {% endcompress %}
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/menuwatch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ga.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% endcompress %}

</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="container">
                <a class="navbar-brand" href="/" width="200">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="212.4px" height="35.04px" viewBox="0 0 212.4 35.04" enable-background="new 0 0 212.4 35.04" xml:space="preserve">
                        <g id="Group_2_1_">
                            <g id="Polygon_2">
                                <g>
                                    <polygon fill="#D35400" points="39.601,5.039 51.479,28.797 63.357,5.039"/>
                                </g>
                            </g>
                            <g id="Polygon_1">
                                <g>
                                    <polygon fill="#E67E22" points="29.521,5.039 41.399,28.797 53.277,5.039"/>
                                </g>
                            </g>
                        </g>
                        <g id="Group_1_1_">
                            <g id="Polygon_2_copy">
                                <g>
                                    <polygon fill="#2980B9" points="19.321,5.042 7.443,28.801 31.199,28.801"/>
                                </g>
                            </g>
                            <g id="Polygon_1_copy">
                                <g>
                                    <polygon fill="#3498DB" points="29.641,5.042 17.763,28.801 41.519,28.801"/>
                                </g>
                            </g>
                        </g>
                        <g id="Group_3_1_">
                            <rect x="56.054" y="16.333" fill="#FFFFFF" width="1.875" height="3.125"/>
                            <g id="menu">
                                <rect x="49.68" y="6.323" fill="none" width="77.372" height="28.83"/>
                                    <text transform="matrix(1 0 0 1 49.6792 28.8071)" fill="#3498DB" font-size="30" letter-spacing="-1">menu</text>
                            </g>
                            <g id="watch">
                                <rect x="119.132" y="6.24" fill="none" width="91.474" height="27.075"/>
                                    <text transform="matrix(1 0 0 1 119.1309 28.7231)" fill="#D35400" font-size="30" letter-spacing="-1">watch</text>
                            </g>
                        </g>
                    </svg>
                </a>
                <div class="nav-buttons unhighlightable">
                    <ul class="nav lato-narrow">
                        <li id="about"><a href="/about/">ABOUT</a></li>
                        <li id="news"><a href="http://news.menuwat.ch">NEWS</a></li>
                        <li class="sep">|</li>
                        <li id="login"><a href="/login/">LOG IN</a></li>
                        <li id="account"><a href="/account/">ACCOUNT</a></li>
                        <li id="logout"><a href="/account/">LOGOUT</a></li>
                        <li id="signup" class="signup active-button">
                            <a class="signup" href="/signup/">SIGN UP<i class="icon-chevron-right icon-in-nav"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">
        </div>
    </div>
</body>

{% block footer_scripts %}{% endblock %}

</html>