{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menuwatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, nofollow">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"><![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menuwatch.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    {% endcompress %}
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/menuwatch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ga.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% endcompress %}

</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="container">
                <a class="navbar-brand" href="/" width="200">
                    {% include "menus/logo.html" %}
                </a>
                <div class="nav-buttons unhighlightable">
                    <ul class="nav lato narrow">
                        <li id="about"><a href="/about">ABOUT</a></li>
                        <li id="news"><a href="http://news.menuwat.ch">NEWS</a></li>
                        <li class="sep">|</li>
                        {% if user.is_authenticated %}
                            <li id="account"><a href="/account">ACCOUNT</a></li>
                            <li id="logout"><a href="/logout">LOGOUT</a></li>
                        {% else %}
                            <li id="login"><a href="/login">LOG IN</a></li>
                            <li id="signup" class="signup active-button">
                                <a class="signup-inside" href="/signup">SIGN UP<i class="icon-chevron-right icon-in-nav"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">
        </div>
    </div>
</body>

{% block footer_scripts %}{% endblock %}

</html>