{% load staticfiles %}
{% load compress %}
{% load custom_tags %}

<html>
<head>
    <title>MenuWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, nofollow">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png"/>
    <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"><![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/my.css"/>
    {% endcompress %}
    
    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/my.js" type="text/javascript"></script>
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>