{% extends "menus/base.html" %}

{% block body %}
    <div class="container">
        <a class="about-header" href="/">{% include "menus/logo.html" %}</a>
        <h3 class="lato text-center" style="max-width:700px;margin:0 auto">
            Menuwatch is still under construction. We expect to launch in the first several weeks of the fall semester.
            <br/><br/><br/>
            If you want to get a head start, email <a href="mailto:bjacobel@gmail.com">Brian</a> and he'll get you set up as a beta tester. Otherwise - see you soon!
        </h3>
    </div>
{% endblock %}

{% block footer_scripts %}

{% endblock %}