{% extends "menus/base.html" %}
{% load user_agents %}

{% block body %}
    <div class="container table-container">
        {% if tab = "searchresults" %}
            <h3 class="lato">Search results for "{{ searchstr }}":</h3>
        {% endif %}
        {% if foodlist == None and tab = "search" %}
            <div class="searchboxwrapper">
                <input type="text" class="lato searchbox form-control input-lg" placeholder="Search for foods...">
                <div class="search cta active-button"><p class="lato cta-text unhighlightable">SEARCH</p><i class="icon-chevron-right"></i></div>
            </div>
        {% elif foodlist == None %}
            <div class="searcherror">
                <i class="icon-question-sign icon-4x"></i>
                <h3 class="lato text-center"><em>Nothing found. <a href="/browse?sort=search">Go back?</a></em></h3>
            </div>
        {% else %}
        <table class="table table-hover">  {# bootstrap makes using htmltables just barely tolerable #}
            <thead>
                <td><h4 class="lato narrow">FOOD</h4></td>
                
                {% if request|is_pc %}
                    <td><h4 class="lato narrow">INFO</h4></td>
                {% endif %}
                
                {% if not request|is_mobile %}
                    <td><h4 class="lato narrow">COURSE</h4></td>
                {% endif %}
                

                {% if request|is_mobile %}
                    {% if tab = "recent" %}
                        <td><h4 class="lato narrow">LAST</h4></td>
                    {% else %}
                        <td><h4 class="lato narrow">NEXT</h4></td>
                    {% endif %}
                {% else %}
                    {% if tab = "recent" %}
                        <td><h4 class="lato narrow">LAST UP</h4></td>
                    {% else %}
                        <td><h4 class="lato narrow">NEXT UP</h4></td>
                    {% endif %}
                {% endif %}
                
                {% if not request|is_mobile %}
                <td><h4 class="lato narrow">AT</h4></td>
                
                <td><h4 class="lato narrow">FOR</h4></td>
                {% endif %}
                
                <td><h4 class="lato narrow">WATCH</h4></td>
            </thead>
            <tbody>
            {% for item in foodlist %}
                <tr>
                    <td>{{ item.name }}</td>
                    
                    {% if request|is_pc %}
                        <td>{{ item.attrs }}</td>
                    {% endif %}

                    {% if not request|is_mobile %}
                        <td>{{ item.foodgroup }}</td>
                    {% endif %}
                    
                    {% if tab = "recent" %}
                        <td>{{ item.last_date_readable }}</td>
                    {% else %}
                        <td>{{ item.next_date_readable }}</td>
                    {% endif %}
                    
                    {% if not request|is_mobile %}
                        <td>{{ item.location }}</td>
                    
                        <td>{{ item.meal }}</td>
                    {% endif %}
                    
                    {% if user in item.watchers %}
                        <td class="row-icon api delete" data="{{ item.pk }}"><i class="icon-remove"></i></td>
                    {% else %}
                        <td class="row-icon api add" data="{{ item.pk }}"><i class="icon-plus"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="tabs">
        <a href="/browse" id="upcoming" class="lato bold tab"><p>UPCOMING</p></a>
        <a href="/browse?sort=popular" id="popular" class="lato bold tab"><p>POPULAR</p></a>
        <a href="/browse?sort=recent" id="recent" class="lato bold tab"><p>RECENT</p></a>
        <a href="/browse?sort=search" id="search" class="lato bold tab"><p>SEARCH</p></a>
    </div>
{% endblock %}

{% block footer_scripts %}
    {% include 'menus/api.html' %}
    <script>
        $('input').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                foodsearch();
            }
        });
        $(".search").click(function () {
            foodsearch();
        });
        function foodsearch() {
            href = "/browse?sort=search&query="+$('input').val();
            window.location.href = href;
        };
    </script>
    <script>
        $(".tab#{{ tab }}").addClass("hover");
    </script>
{% endblock %}