{% extends "menus/base.html" %}

{% block body %}
    <div class="banner-wrap">
        <img class="banner blur" src="{{ STATIC_URL }}img/banner/{{ photo }}"/>
        <div class="banner-text">
            <h1 class="lato bold">Let your food come to you.</h1>
            <h2 class="lead lato narrow">Menuwatch makes finding your favorite foods easy. Maybe <em>too</em> easy.</h3>
            {% if user.is_authenticated %}
                <a class="cta-link" href="/browse/">
                    <div class="cta active-button"><p class="lato cta-text">WELCOME BACK</p><i class="icon-chevron-right"></i></div>
                </a>
            {% else %}
                <a class="cta-link" href="/signup/">
                    <div class="cta active-button"><p class="lato cta-text unhighlightable">GET STARTED</p><i class="icon-chevron-right"></i></div>
                </a>
            {% endif %}
        </div>
        {% if link and name %}
        <div class="img-cred">
            <a href="{{ link }}"><p class="flickr-user lato"><em>{{ name }}</em></p></a>
        </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="container subhero-wrapper">
            <div class="subhero right">{% include "menus/includes/magnify.html" %}</div>
            <div class="subhero left">
                <h3 class="lato bold">Find your favorites.</h3>
                <h4 class="lato hidden-xs">Browse the most popular and recent foods, or search for whatever your tastebuds desire.</h4>
            </div>
        </div>
        <div class="container subhero-wrapper">
            <div class="subhero left" style="overflow:visible !important">{% include "menus/includes/envelope.html" %}</div>
            <div class="subhero right">
                <h3 class="lato bold">Get alerts.</h3>
                <h4 class="lato hidden-xs">Menuwatch will let you know when and where your favorites are coming up.</h4>
            </div>
        </div>
        <div class="container subhero-wrapper">
            <div class="subhero right">{% include "menus/includes/gears.html" %}</div>
            <div class="subhero left">
                <h3 class="lato bold">Customize.</h3>
                <h4 class="lato hidden-xs">Get alerts for the locations you want, at the frequency you choose.</h4>
            </div>
        </div>
    </div>
    <div class="container index-footer">
        {% if user.is_authenticated %}
            <h1 class="lato bold text-center">Welcome back, {{  user.first_name }}.</h1>
            <a class="cta-link" href="/browse">
                <div class="cta active-button"><p class="lato cta-text unhighlightable">SEE WHAT'S NEW</p><i class="icon-chevron-right"></i></div>
            </a>
        {% else %}
            <h1 class="lato bold text-center">Start finding more of your favorites today.</h1>
            <a class="cta-link" href="/signup">
                <div class="cta active-button"><p class="lato cta-text unhighlightable">LET'S GO</p><i class="icon-chevron-right"></i></div>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer_scripts %}
<script type="text-javascript">
    // inspired by http://croberts.me/2013/02/16/howto-rotating-gears-when-user-scrolls/

    var prevScroll = $(document).scrollTop();
    var scaler = 0.001;
   
    var $vendor_prefixes = new Array("-webkit-transform", "-moz-transform", "-ms-transform", "-o-transform", "transform");

    $(document).scroll(function(){
        var newScroll = $(document).scrollTop();

        if (prevScroll > newScroll) {
            scaler -= (prevScroll-newScroll)/($(document).height()-$(window).height());
        } else if (prevScroll < newScroll)  {
            scaler += (newScroll-prevScroll)/($(document).height()-$(window).height());
        }

        // do rotations for gears
        for ( var i in $vendor_prefixes ){
            $(".small.cw.gear .gear-inner").css($vendor_prefixes[i], "rotate("+scaler*360+"deg)");
            $(".small.ccw.gear .gear-inner").css($vendor_prefixes[i], "rotate("+scaler*-360+"deg)");
            $(".large.cw.gear .gear-inner").css($vendor_prefixes[i], "rotate("+scaler*180+"deg)");
        };
        
        // do panning for words
        $(".slide-text").css("margin-left", scaler*-900+"px");


        // do ascending for email alert
        $(".page-icon").css("top", 75 - scaler*80 +"px");


        prevScroll = newScroll;
    });
</script>
{% endblock %}