{% extends "menus/base.html" %}

{% block body %}
    <div class="banner-wrap">
        <img class="banner blur" src="{{ STATIC_URL }}img/banner/{{ photo }}"/>
        <div class="banner-text">
            <h1 class="lato bold">Let your food come to you.</h1>
            <h2 class="lead lato narrow">Menuwatch makes finding your favorite foods easy. Maybe <em>too</em> easy.</h3>
            {% if user.is_authenticated %}
                <a class="cta-link" href="/browse/">
                    <div class="cta active-button"><p class="lato cta-text">WELCOME BACK</p><i class="icon-chevron-right"></i></div>
                </a>
            {% else %}
                <a class="cta-link" href="/signup/">
                    <div class="cta active-button"><p class="lato cta-text unhighlightable">GET STARTED</p><i class="icon-chevron-right"></i></div>
                </a>
            {% endif %}
        </div>
        {% if link and name %}
        <div class="img-cred">
            <a href="{{ link }}"><p class="flickr-user lato"><em>{{ name }}</em></p></a>
        </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="container subhero-wrapper">
            <div class="subhero right" style="background:url('http://placehold.it/400x400')"></div>
            <div class="subhero left">
                <h3 class="lato bold">Find your favorites.</h3>
                <h4 class="lato hidden-xs">Sort by popular, recent, or search for whatever your tastebuds desire.</h4>
            </div>
        </div>
        <div class="container subhero-wrapper">
            <div class="subhero left" style="background:url('http://placehold.it/400x400')"></div>
            <div class="subhero right">
                <h3 class="lato bold">Get alerts.</h3>
                <h4 class="lato hidden-xs">Menuwatch will let you know when and where your favorites are coming up.</h4>
            </div>
        </div>
        <div class="container subhero-wrapper">
            <div class="subhero right" style="background:url('http://placehold.it/400x400')"></div>
            <div class="subhero left">
                <h3 class="lato bold">Customize.</h3>
                <h4 class="lato hidden-xs">Get alerts for the locations you want, at the frequency you choose.</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}{% endblock %}