{% extends "menus/base.html" %}

{% block body %}
    <div class="container">
        <a class="logo-bg" href="/">{% include "menus/includes/logo.html" %}</a>
        <form action="/payment" method="post">{% csrf_token %}</form>
    </div>
{% endblock %}


{% block footer_scripts_nocompress %}
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
{% endblock %}
{% block footer_scripts %}
    <script>$(".navbar").addClass("invisible");</script>
    <script>
        $(document).ready(function(){
            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
            };

            StripeCheckout.open({
                key:         'pk_live_XD4tFdJYSAZ7AgjbvWdUDMkP',
                address:     false,
                amount:      299,
                currency:    'usd',
                name:        'Menuwatch',
                description: 'Account upgrade',
                panelLabel:  'Upgrade to Pro: ',
                image:       '{{ STATIC_URL }}img/med_logo.png',
                token:       token
            });

            return false;
        });
    </script>
{% endblock %}