  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
   
<head>
    <title>Error</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <style>h1, p {font-family:Lato, Helvetica, sans-serif;}</style>
</head>  
   
<body>  
    <h1>Page error</h1>  
      
    <p>Whoops! Something's gone wrong.</p>  
    <br/>
    <p>Our developer's been notified, so please check back later.</p>
    <p>We'll do our best to get things running again as soon as we can.</p>
</body>  
   
</html>