/* Bootstrap font overrides */

.lato {
    font-family:'Lato', Helvetica, Arial, sans-serif !important;
    font-weight:400 !important;
    text-decoration:none;
}
.bold {
    font-weight:700 !important;
}
.narrow {
    font-weight: 300 !important;
}
html{
    -webkit-font-smoothing: antialiased;
}

/* End fonts */



/* Global element styles */
.visible {
    display:block;
}
.invisible {
    display:none;
    width:0;
    height:0;
    margin:0;
    padding:0;
}
.inline {
    display:inline;
}
.inline-block {
    display:inline-block;
}
.unhighlightable, svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.blur {
    /* supposedly works in IE */
    filter: DXImageTransform.Microsoft.Blur(PixelRadius='2');
    zoom: 1;

    /* SVGs for Firefox */
    filter: blur(2px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><filter id='blur'><feGaussianBlur stdDeviation='2'/></filter></defs></svg>#blur");

    /* good old webkit... doing things right since 1998 */
    -webkit-filter: blur(2px);
}
.left {
    float:left;
}
.right {
    float:right;
}

a {
    text-decoration:none !important; /* goodbye, 1999 */
}

/* call-to-action button with an animated flyin */
.icon-chevron-right {
    left: 75%;
    opacity: 0;
    top:38%;
    position:absolute;
    height: 100%;
    z-index:2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.active-button:hover .icon-chevron-right {
    opacity:1;
    left:85%;
}

.pointer {
    cursor:pointer;
}

/* End global element styles */



/* Nav bar */
/* Beware: incoming clusterfuck of overriding bootstrap styles */

.navbar {
    margin-bottom:0 !important;
    border-bottom:2px solid #3498DB !important;
    border-radius:0px !important;
    background-color:white !important;
}

.nav-buttons {
    float:right;
    height:auto;
    margin-top:10px;
}
.nav > li {
    display:inline-block !important;
}
.sep {
    height:100%;
    font-size:12pt;
    color:#808080;
    color:rgba(170,170,170,0.7);
}
.signup {
    border-radius:10px;
    border:2px solid gray;
    margin-bottom:10px;
}
.signup-inside {
    padding:10px 30px !important;
    border:none;
}
.signup-inside:hover{
    background-color:#ffffff !important;
    color:#428bca !important;
    background-color:transparent !important;
}
.icon-in-nav {
    font-size:8pt;
}
.active-button:hover .icon-in-nav {
    left:90%;
}

svg text {
    font-family:'Lato', Helvetica, Arial, sans-serif !important;
    font-weight:900;
}

/* End nav bar */

/* Footer */

.footer{
    width:100%;
    height:10%;
    bottom:0;
}


/*  Homepage */
.banner {
    position:absolute;
    height:102%;
    margin:0 -1% 0 -1%;
}

.banner-wrap{
    overflow:hidden;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height:450px;
    width:100%;
    display:block;
    border-bottom: 2px solid #3498DB;
}

.banner-text {
    position:absolute;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:white;
    top:100px;
    width:100%;
    z-index:100;
    background-color:#333333;
    background-color:rgba(50,50,50, 0.55);
}

.cta {
    margin:50px 0 35px 0;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:250px;
    height:60px;
    text-align:center;
    border-radius:6px;
    background-color:#3498DB;
    color:white;
    text-decoration:none;
}

.cta-text {
    font-size:14pt;
    padding:15px 0 15px 0;
}

.cta-link {
    cursor:pointer; /* in case this is a div, not an a */
    display: block;
    width: 250px;
    margin: auto;
}

.img-cred {
    z-index:100;
    position:absolute;
    bottom:0;
    right:0;
}

.flickr-user {
    color:white;
    text-shadow: 0 0 0.5em black;
    font-size:12px;
    margin:1px 5px 1px 6px;
}

.subhero {
    font-size: 26px;
    text-align:center;
    width:50%;
    height:200px;
    display:block;
    margin:25px auto;
    padding:0 7px;
    overflow:hidden;

    background-repeat:no-repeat !important;
    background-position:center !important;
    background-size:contain !important;
}

.subhero h3 {
    margin-top:55px!important;
}

.subhero h4 {
    max-width:350px;
    margin:0 auto;
}

.subhero-wrapper:after {
    content:'';
    width:85%;
    height:1px;
    margin:0 auto;
    background-color:#3498DB;
}
/* End homepage */


/* Signup + Login Page */
.shim {
    position:relative;
    width:100%;
}
.auth-box {
    position:relative;
    margin:25px auto;
    width:300px;
    border-radius:10px;
    border:2px solid #3498DB;
    box-shadow:0 0 3px 2px rgba(150,150,150,0.7);
    padding:15px;
}
.auth-header {
    font-size: 35px;
    height:70px;
    width:150px;
    display:block;
    text-align:center;
}
.auth-form {
    position:relative;
    width:100%;
}
.field-wrapper > input {
    height:35px;
    margin:4px 0;
    border:1px solid rgba(52,152,219,0.4);
    border-radius:2px;
    width:100%;
    padding:0 10px;
}
.field-wrapper > input:focus {
    outline:0;
    box-shadow:0 0 3px 1px rgba(150,150,150,0.5) inset;
}
.field-wrapper > ul {
    list-style-type:none;
    padding-left:10px;
}
.auth-action {
    color:white;
    position:relative;
    width:100%;
    -webkit-appearance:none !important;
    border:none;
    background-color:transparent;
}
.auth-action-wrapper {
    margin:15px 0px 15px -75px;
    position:relative;
    width:150px;
    left:50%;
}
/* End Signup Page */


/* About page */

.about-header{
    margin:45px auto;
    width:100%;
    max-width:650px;
    height:140px;
    position:relative;
    display:block;
}

.about-header svg {
    width:100%;
    height:100%;
    position:absolute;
}

/* end About page */

/* Upgrade Page */

.show-more-info {
    cursor:pointer;
    color:#3498DB;
}

.more-info > ul {
    list-style-type:none;
    padding-left:10px;
    max-width:740px;
    margin:0 auto;
}

.more-info > ul > li {
    text-align:justify;
    margin-bottom:25px;
    line-height:1.5;
}

.popular-foods > .carousel {
    width:100%;
}

.swipe-text{
    display:inline-block;
    text-align:center;
}

/* End Upgrade page */



/* Payment page */

.logo-bg {
    margin:50px auto;
    padding-right:50px;
    width:100%;
    height:500px;
    position:relative;
    display:block;
}
.logo-bg svg {
    width:100%;
    height:100%;
    position:absolute;
}

/* End Payment Page */


/* Account page */

.account-fields {
    display:block;
    margin-top:130px;
}

.account-field {
    margin-left:-15px;
    margin-bottom:50px;
}

.account-field-header {
    padding-bottom:10px;
    border-bottom:1px solid #333;
}

a.del-account:hover {
    color:#E74C3C;
}

.watch-list {
    padding-left:0;
    list-style-type:none;
}

.watch-row > h4 {
    display:inline-block;
    margin:5px 0;
    max-width:80%;
}

.watch-row > h4 > i {
    padding:0;
}

h4 .icon-caret-right {
    padding-left:7px;
}

/* End Account Page */


/* Shared between Account and Browse page */

.icon-remove {
    padding:7px 30px;
    cursor:pointer;
    color:#E74C3C;
}

td:hover .icon-plus {
    color:#2ECC71;
}

.icon-ok {
    color:#27AE60;
}

/* End shared styles */


/* Browse Page (best for last) */

.table-container {
    margin-left:35px !important;
}

.row-icon {
    cursor:pointer;
    text-align:center;
}

.tabs {
    position:fixed;
    left:-10px;
    top:150px;
}

.tab {
    position:relative;
    border-radius:5px;
    width:45px;
    height:100px;
    margin:5px 0;
    display:block;
    color:white !important;

    -webkit-transition:left 0.15s ease-in;
       -moz-transition:left 0.15s ease-in;
         -o-transition:left 0.15s ease-in;
            transition:left 0.15s ease-in;
}

.tab:hover {
    color:white !important;
    left:7px;
}

#popular.tab {
    background-color:#3498DB;
}

#recent.tab {
    background-color:#E74C3C;
}

#search.tab {
    background-color:#3498DB;
}
